div {
   display: flex;
   justify-content: start;
   flex-direction: row-reverse;
}   

img:hover {
   background-image: url(star-2.jpg);
}

img:hover ~ iimg {
   background-image: url(star-2.jpg);
}   
