
.line-3 {
    display: inline-block;
    height: 80vh;
    width: 12vw;
    background-color: yellow;
    background-position: left;
    font-weight: bolder;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

.img-football {
    display: inline-block;
    background-image: url(world.JPEG);
    height: 40vh;
    width: 60vw;
    background-repeat: no-repeat;
    background-position: center;
}

.line-4 {
    font-weight: bolder;
    text-align: center;
}

