.line-3 {
    height: 500px;
    width: 170px;
    background-color: yellow;
    background-position: left;
    font-weight: bolder;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
}

.line-4 {
    text-align: center;
    margin-top: -500px;
    font-weight: bolder;
}

.line-5 {
    background-image: url(world.JPEG);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    margin-left: 210px;
    margin-top: 50px;
}

.line-6 {
    margin-top: -954px;
    margin-left: 35em;
}

.line-7 {
    padding-top: 70px;
    padding-left: 200px;
}
