main {
    display: flex;
    align-items: flex-start;
}

.line-3 {
    display: inline-block;
    height: 80vh;
    width: 12vw;
    background-color: yellow;
    background-position: left;
    font-weight: bolder;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

img {
    display: inline-block;
    background-position: center;
    margin: 0px 20px;
}

.line-4 {
    font-weight: bolder;
    text-align: center;
}
