.header {
   grid-area: header;
   height: 150px;
   background: #4e4f4d;
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-rows: auto;

   grid-template-areas: 
   "logo nav";
}

.header-section {
   padding: 0px 30px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

button {
   cursor: pointer;
   border-radius: 30px;
   margin: 10px 20px;
   padding: 8px 20px;
   background-color: #4e4f4d;
   border: #4e4f4d;
   color: #e2e3e1;
   transition: background-color 300ms ease-in;
   font-size: 15px;
}

button:hover {
   background-color: #858585;
   transition: background-color 300ms ease-in;
}

.header-section-div {
   margin: 0 10px;
   display: flex;
   align-items: center;
}

.header-section-img {
   height: 100px;
   width: 100px;
}
