.section-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}


.section-1 {
    border: 1px solid red;
    height: 150px;
    background-color: #4e4f4d;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0px 30px;
}

.div-LogIn-Join {
    border: 1px solid magenta;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

